@tailwind base;
@tailwind components;
@tailwind utilities;

.anticon,
.ant-text {
  &.xs {
    font-size: 0.75rem;
    line-height: 1.66;
  }
  &.sm {
    font-size: 0.875rem;
    line-height: 1.42;
  }
  &.md {
    font-size: 1rem;
    line-height: 1.5;
  }
  &.lg {
    font-size: 1.25rem;
    line-height: 1.4;
  }
  &.xl {
    font-size: 1.5rem;
    line-height: 1.33;
  }
  &.xxl {
    font-size: 1.875rem;
    line-height: 1.26;
  }
  &.xxxl {
    font-size: 2.375rem;
    line-height: 1.21;
  }
  &.huge {
    font-size: 2.875rem;
    line-height: 1.17;
  }
  &.xhuge {
    font-size: 3.5rem;
    line-height: 1.14;
  }
  &.xxhuge {
    font-size: 4rem;
    line-height: 1.11;
  }
}

.ant-typography,
.ant-text,
.anticon {
  &.primary {
    color: rgba(0, 0, 0, 0.85);
  }
  &.secondary {
    color: rgba(0, 0, 0, 0.65);
  }
  &.tertiary {
    color: rgba(0, 0, 0, 0.45);
  }
}

.leaflet-container {
  height: 100%;
  background-color: #fff;
}

.custom-marker-icon {
  width: 4px;
  height: 4px;
  background-color: #13c2c2;
  border-radius: 100%;
  border: 1px solid #fff;
}

.custom-marker-cluster {
  width: 30px;
  height: 30px;
  background-color: #13c2c2;
  border-radius: 100%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-left: 11px;
  padding-top: 4px;
}

.page-container {
  max-width: 1664px;
  margin: 0 auto;
}

.auth-page .ant-card-head {
  background-color: unset;
}
.register-section {
  background-image: url("../assets/bg-img.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
}

.register-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.register-form-container {
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 20px;
}

.form-grid > div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: 600;
}

input,
.select__control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-input-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

button {
  background-color: #1d4ed8;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #93c5fd;
}

button:not(:disabled):hover {
  background-color: #2563eb;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #1d4ed8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.login-section {
  background-color: #f9fafb;
  background-image: url("./../assets/bg-image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form-wrapper {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  width: 100%;
}

.login-form-content {
  padding: 24px;
}

.login-title {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 24px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #111827;
}

.login-input {
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 10px 12px;
  width: 100%;
  font-size: 14px;
  color: #111827;
}

.password-wrapper {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.login-submit-button {
  width: 100%;
  height: 40px;
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-submit-button:hover {
  background-color: #2563eb;
}

.login-register-link {
  font-size: 14px;
  color: #6b7280;
  text-align: center;
}

.login-link {
  color: #3b82f6;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #2563eb;
}

.loader {
  margin-bottom: 4px;
}
